.line {
  border-left: 5px solid rgb(93, 92, 92);
  height: 30px;
}
.step-image {
  overflow: hidden;
}
.step-image img {
  transition: transform 0.2s;
}
.step-image img:hover {
  transform: scale(1.1);
}
