.choose-us {
  overflow: hidden !important;
}
.choose-us img {
  width: 100px;
}
.single-choose {
  background-color: #b8dfe6;
}
/* .single-choose:hover {
  border: 4px solid rgb(89, 89, 89);
} */
.choose-title {
  color: #ff9c00;
}
